<br>
<div id="filters" class="card">

  <article class="filter-group">
    <header class="card-header">
      <a href="#" data-toggle="collapse" data-target="#collapse_2" aria-expanded="true" class="">
        <i class="icon-control fa fa-chevron-down"></i>
        <h6 class="title">Marcas</h6>
      </a>
    </header>
    <div class="filter-content collapse show" id="collapse_2">
      <div class="card-body">
        <label class="custom-control custom-checkbox" *ngFor="let brand of productBrands">
          <input type="checkbox" value="{{brand}}" (change)="filterChanged()" class=" custom-control-input">
          <div class="custom-control-label">{{brand}}
            <!-- <b class="badge badge-pill badge-light float-right">120</b> -->
          </div>
        </label>
      </div> <!-- card-body.// -->
      <button (click)="applyFilter()" class="btn btn-block btn-primary">Aplicar</button>
      <button (click)="clearBrandFilter()" class="btn btn-xs btn btn-warning" *ngIf="productBrandsSelected.length > 0">
        Limpiar filtro
      </button>
    </div>
  </article> <!-- filter-group .// -->
  <!-- <article class="filter-group">
    <header class="card-header">
      <a href="#" data-toggle="collapse" data-target="#collapse_3" aria-expanded="true" class="">
        <i class="icon-control fa fa-chevron-down"></i>
        <h6 class="title">Price range </h6>
      </a>
    </header>
    <div class="filter-content collapse show" id="collapse_3">
      <div class="card-body">
        <input type="range" class="custom-range" min="0" max="100" name="">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Min</label>
            <input class="form-control" placeholder="$0" type="number">
          </div>
          <div class="form-group text-right col-md-6">
            <label>Max</label>
            <input class="form-control" placeholder="$1,0000" type="number">
          </div>
        </div>
        <button class="btn btn-block btn-primary">Apply</button>
      </div>
    </div>
  </article>  -->
  <!-- <article class="filter-group">
    <header class="card-header">
      <a href="#" data-toggle="collapse" data-target="#collapse_4" aria-expanded="true" class="">
        <i class="icon-control fa fa-chevron-down"></i>
        <h6 class="title">Sizes </h6>
      </a>
    </header>
    <div class="filter-content collapse show" id="collapse_4">
      <div class="card-body">
        <label class="checkbox-btn">
          <input type="checkbox">
          <span class="btn btn-light"> XS </span>
        </label>

        <label class="checkbox-btn">
          <input type="checkbox">
          <span class="btn btn-light"> SM </span>
        </label>

        <label class="checkbox-btn">
          <input type="checkbox">
          <span class="btn btn-light"> LG </span>
        </label>

        <label class="checkbox-btn">
          <input type="checkbox">
          <span class="btn btn-light"> XXL </span>
        </label>
      </div>
    </div>
  </article>  -->
</div> <!-- card.// -->
